# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^pipen/.+$
        pass_filenames: false
        types: [python]
        args: [pipen]
-   repo: local
    hooks:
    # -   id: poetry2setuppy
    #     name: Convert pyproject.toml to setup.py
    #     entry: dephell deps convert --from=poetry --to=setup.py
    #     language: system
    #     files: pyproject.toml
    #     pass_filenames: false
    # -   id: poetry2requirements
    #     name: Convert pyproject.toml to requirements.txt
    #     entry: dephell deps convert --from=poetry --to=requirements.txt
    #     language: system
    #     files: pyproject.toml
    #     pass_filenames: false
    # -   id: api
    #     name: Generate API documentation
    #     entry: bash -c
    #     args: ['python api.py > docs/api.md']
    #     language: system
    #     pass_filenames: false
    #     files: ^pyppl/.+$
    # dephell does support latest pip and it's archived.
    -   id: create_setuppy
        name: Create setup.py from pyproject.toml
        language: system
        pass_filenames: false
        files: pyproject.toml
        entry: bash -c
        args: ['curl -fsSL https://raw.githubusercontent.com/sdss/flicamera/main/create_setup.py | python']
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^pipen/.+$
