[build-system]
requires = [ "poetry>=0.12",]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "pipen"
version = "0.3.12"
description = "A pipeline framework for python"
authors = [ "pwwang <pwwang@pwwang.com>",]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/pwwang/pipen"
repository = "https://github.com/pwwang/pipen"

[tool.poetry.dependencies]
python = "^3.7.1" # align with datar/pandas
liquidpy = "^0.7"
pandas = "^1.3"
python-slugify = "^7"
enlighten = "^1"
cached-property = "^1"
more-itertools = "^8"
pyparam = "^0.5"
xqute = "^0.1"
## included in xqute
# rich = "^12"
# diot = "^0.1"
# simplug = "^0.0"
## including rtoml
python-simpleconf = {version = "^0.5", extras = ["toml"]}
pipda = "^0.11"
varname = "^0.10"

[tool.poetry.dev-dependencies]
openpyxl = "^3"
pytest = "^7"
pytest-cov = "^4"
pytest-xdist = "^3"
datar = { version = "^0.11", extras = ["pandas"] }

[tool.poetry.scripts]
pipen = "pipen.cli:main"

[tool.pytest.ini_options]
addopts = "-vv -n auto -p no:asyncio -p no:benchmark -W error::UserWarning --cov-config=.coveragerc --cov=pipen --cov-report xml:.coverage.xml --cov-report term-missing"
# addopts = "-vv -n auto -p no:asyncio -W error::UserWarning"
console_output_style = "progress"
junit_family = "xunit1"
filterwarnings = [
   "ignore:The --rsyncdir command line argument and rsyncdirs config variable are deprecated.:DeprecationWarning",
]

[tool.mypy]
ignore_missing_imports = true
allow_redefinition = true
disable_error_code = ["attr-defined", "no-redef"]
show_error_codes = true
strict_optional = false

[tool.black]
line-length = 79
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
