cached-property==1.*
diot
enlighten==1.*
jinja2==2.*,>=2.0.0
liquidpy
more-itertools==8.*
pandas==1.*
pipda
plyrda
pyparam
pytest
pytest-cov
python-simpleconf
python-slugify==4.*
rich==9.*
simplug
toml==0.*,>=0.10.0
uvloop==0.*
varname
xqute
