attr-property
attrs==19.*,>=19.3.0
cmdy
colorama==0.*,>=0.4.1
diot
faker==1.*,>=1.0.0
filelock==3.*,>=3.0.0
jinja2==2.*,>=2.0.0
liquidpy
pluggy==0.*
psutil==5.*,>=5.6.0
pyparam
pyppl-echo
pyppl-export
pyppl-lock
pyppl-rich
pyppl-runners
pyppl-strict
pytest
pytest-cov
python-simpleconf
python-varname
toml==0.*,>=0.10.0
transitions==0.*,>=0.7.0
